In [7]:
# Import necessary libraries
import pandas as pd

# Load the CSV file
df = pd.read_csv(r'C:\Users\Binay\OneDrive\Desktop\Project-1\imdb_top_250.csv')

# Display the first few rows to understand the data structure
df.head()

,Title,URL,Description,Rating,Genre,Duration
0,The Shawshank Redemption,https://www.imdb.com/title/tt0111161/,A banker convicted of uxoricide forms a friend...,9.3,Drama,PT2H22M
1,The Godfather,https://www.imdb.com/title/tt0068646/,The aging patriarch of an organized crime dyna...,9.2,"Crime, Drama",PT2H55M
2,The Dark Knight,https://www.imdb.com/title/tt0468569/,When a menace known as the Joker wreaks havoc ...,9.0,"Action, Crime, Drama",PT2H32M
3,The Godfather Part II,https://www.imdb.com/title/tt0071562/,The early life and career of Vito Corleone in ...,9.0,"Crime, Drama",PT3H22M
4,12 Angry Men,https://www.imdb.com/title/tt0050083/,The jury in a New York City murder trial is fr...,9.0,"Crime, Drama",PT1H36M

In [9]:
# Check for missing values in the dataset
df.isnull().sum()

Title          0
URL            0
Description    0
Rating         0
Genre          0
Duration       0
dtype: int64

In [13]:
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [15]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [17]:
# Strip whitespace from string columns
df['title'] = df['title'].str.strip()
df['genre'] = df['genre'].str.strip()

In [19]:
# Convert duration from "PTxHxM" format (if applicable)
df['duration'] = df['duration'].str.extract(r'PT(\d+)H(\d+)M').fillna(0).astype(int).apply(lambda x: x[0]*60 + x[1], axis=1)
df['rating'] = df['rating'].astype(float)

In [21]:
df.to_csv('cleaned_imdb_top_250.csv', index=False)
print("Cleaned data saved successfully!")

Cleaned data saved successfully!